.topbar {
    width: 100vw;
    height: var(--top-bar-height);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--color-primary);

    color: #fff;

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
        max-width: 128rem;
        margin: 0 auto; // center
    }

    &-logo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        &__image, &__name {
            display: inline-block;
        }

        &__icon {
            font-size: 4rem;
            color: #fff;
        }

        &__name {
            text-transform: uppercase;
            font-size: 2.5rem;
        }
    }

    &-actions {
        // flex: 1;

        &__button,
        &__button:link,
        &__button:visited,
        &__button:active {
            padding: 1rem 1.25rem;

            font-size: 2rem;
            color: var(--color-black);
            
            background-color: #fff;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
    }

}