@import "../../Mixins/Mixins.scss";

.careers {
    width: 100vw;

    &__content {
        max-width: 128rem;
        padding: 4rem 0;
        margin: 0 auto; // center
    }

    &__cards {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        width: 100%;
    }

    &-work-card__wrapper {
        width: 30%;
        max-width: 40rem;
    }

    &__header {
        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 500;
    }

    @include mobile-padding("largest");

    @include respond("large") {
        &__cards {
            flex-flow: row wrap;
        }

        &-work-card__wrapper {
            width: 40%;
            margin-bottom: 2rem;
        }
    }

    @include respond("medium") {
        &__cards {
            justify-content: center;
        }

        &-work-card__wrapper {
            width: 100%;
            max-width: 50rem;
        }

        &__header {
            width: 100%;
            text-align: center;
        }
    }
}

