.section-careers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    max-width: 128rem;
    padding: 4rem 0;
    margin: 0 auto;
}

.work-card__wrapper {
    width: 30%;
}