@import "../../Mixins/Mixins.scss";

.restaurants {
    width: 100vw;

    &__content {
        max-width: 128rem;
        margin: 0 auto;
        padding: 4rem 0;
    }
    
    &__header {
        margin-bottom: 2rem;

        font-size: 5rem;
        font-weight: 400;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        width: 100%;
    }

    &__item {
        display: block;
        box-sizing: border-box;

        height: 25rem;
        margin-bottom: 5rem;

        outline: 4px solid transparent;
        outline-offset: 2rem;

        &:hover {
            outline: 4px solid var(--color-primary);
        }

        &--wide {
            width: 60%;

        }

        &--small{
            width: 35%;

        }
    }

    @include mobile-padding("largest");

    @include respond("largest") {
        &__item {
            outline-offset: 1.5rem;
        }
    }

    @include respond("medium") {
        &__item {
            width: 100% !important;
        }
    }
}