:root {

    /* COLORS */
    --color-primary: #1abc9c;
    --color-primary--transparent: #1abc9c33;
    --color-primary-dark: #16a085;

    --color-secondary: #f1c40f;
    --color-secondary-dark: #f39c12;

    --color-tertiary: #e74c3c;
    --color-tertiary-dark: #c0392b;

    --color-black: #111111;

    --color-gray-light: #AAA;
    --color-gray-dark: #333;
    --color-gray-dark-2: #666;

    --color-facebook: #1877f2;
    --color-twitter: #1da1f2;
    --color-instagram: #c32aa3;

    /* SIZES */
    --top-bar-height: 6.5rem;
}

/* Basic Reset */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // Default 1rem = 10px;
}

body {
    box-sizing: border-box;
    overflow: scroll;
    // max-width: 128rem;
}

ul {
    list-style: none;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

.test {
    color: green;
    font-size: 40rem;
}